<html>
    <head>
        <title>Blog de Claudio Acioli</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog de Claudio Acioli</a></h1>
        </div>

        <div>
            <p>publicado: 13.08.2024, 23:25</p>
            <h2><a href="">Meu primeiro Blog</a></h2>
            <p>Começando a publicar conteúdos para o bolg.</p>
        </div>

        <div>
            <p>publicado: 13.08.2024, 23:25</p>
            <h2><a href="">Meu segundo Blog</a></h2>
            <p>Em breve, novas atualizações para o meu blog.</p>
        </div>
    </body>
</html>